@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /*10px*/
}

/* ::selection{
    user-select: none;
} */

body {
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.box {
    max-width: 1220px;
    /* max-width: 1200px; */
    width: 93%;
    margin: auto;
}
.box6 {
    max-width: 1220px;
    /* max-width: 1200px; */
    width: 93%;
    margin: auto;
}

.box2 {
    max-width: 1220px;
    /* max-width: 1200px; */
    width: 93%;
    margin: auto;
}
.box4 {
    max-width: 1000px;
    /* max-width: 1200px; */
    width: 97%;
    margin: auto;
}

.box3 {
    max-width: 900px;
    /* max-width: 1200px; */
    width: 95%;
    margin: auto;
}

.boxm {
    max-width: 1250px;
    /* max-width: 1180px; */
    width: 100%;
    margin: auto;
}
.box1 {
    max-width: 1250px;
    /* max-width: 1180px; */
    width: 97%;
    margin: auto;
}

/* -------------------------------------------------------navbar------------------------------------------------ */

.navbar input[type='checkbox'], .navc .lines {
    display: none;
}

.navbar {
    /* color: #000; */
    /* background: darkgray; */
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    /* background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);  */
    opacity: 0.89;
    z-index: 99;
    background-image: radial-gradient( circle 976px at 51.2% 51%, rgba(11, 27, 103, 1) 0%, rgba(16, 66, 157, 1) 0%, rgba(11, 27, 103, 1) 17.3%, rgba(11, 27, 103, 1) 58.8%, rgba(11, 27, 103, 1) 71.4%, rgba(16, 66, 157, 1) 100.2%, rgba(187, 187, 187, 1) 100.2%);
    /* background-color: rgba(255, 255, 255, 0.432); */
    position: fixed;
    /* background: gray;  */
    width: 100%;
    box-shadow: 0 3px 5px 0 #aaa;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    outline: none;
}

.navc {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: 7vh; */
    height: 7vh;
    /* overflow-x: auto; */
    
    letter-spacing: 0.150px;
}

.menu {
    order: 2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.ord {
    order: 3
}

.lg {
    width: 2.6rem;
    height: 2.7rem;
    border-radius: 50%;
    /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% ); */
    /* background-color: #fff; */
    background-color: black;
    padding: 0.150rem 0.2rem;
    margin-top: 0.5rem;
    /* margin: 0.5rem 0.7rem; */
    /* justify-content: center;
    align-items: center; */
    transition: all 0.3s;
}

.lg:hover {
    background: #fff;
    padding: 0.150rem;
}

.logo {
    order: 1;
    /* margin: 0.2rem 0; */
    /* padding: 0.2rem; */
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    /* color: #f2709c; */
    color: #fa71cd;
    /* background: linear-gradient(rgb(255, 153, 51) 51%,rgb(255, 255, 255) 40%,rgb(19, 136, 8) 100%); */
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    cursor: default;
    padding: 0;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
    color: #fa71cd;
    ;
    /* color: #1c34eb; */
    cursor: default;
}

.menu li {
    list-style: none;
    color: #aaa;
    font-size: 1.7rem;
    font-weight: 400;
    /* margin: 0.5rem 0.7rem  0.2rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    /* border-radius: none; */
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 0.3rem 0.6rem;
    transition: color 0.4s ease-out;
}

.menu a:hover {
    /* border-bottom: 2px solid rgb(115, 255, 0);
    border-top: 2px solid red; */
    /* border-radius: 30px; */
    font-weight: 400;
    border-bottom: 3px solid;
    border-color: linear-gradient( 129.1deg, rgba(243, 199, 83, 1) 26.8%, rgba(18, 235, 207, 1) 114.1%);
    /* color: gray; */
    /* color: #301B3F; */
}

/* .btn:hover .ext{  */

/* margin: 0;
    padding: 0; */

/* }
    
    /* .btn { */

/* background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 50%, #FC354C 100%) */

/* background-color: tomato; */

/* } */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1rem; */
    margin: 0.5rem 0rem 0.3rem;
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    /* background-size: 100% auto; */
    /* color: white; */
    /* color:rgb(0, 17, 255); */
    color: white;
    /* box-shadow: 0 0 10px 0 #eee; */
    border-radius: 20px;
    /* display: inline-block; */
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border: 1px solid;
    border-top-color: #C850C0;
    border-bottom-color: rgb(255, 0, 255);
    border-left-color: #4158D0;
    border-right-color: #FFCC70;
    /* border-color:  orangered; */
    /* background: rgba(29, 28, 28, 0.952); */
    position: relative;
}

.btn:hover {
    /* background-position: center center; */
    /* change the direction of the change here */
    /* color: rgb(45, 72, 194); */
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-top-color: #C850C0;
    border-bottom-color: #C850C0;
    border-left-color: #4158D0;
    border-right-color: #FFCC70;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /* border: none; */
    /* background-clip: border-box; */
    /* margin: 0.4rem 0 0.5rem;
     padding: 0.7rem 2.5rem; */
    /* font-weight: 500;
     font-size: 1.4rem; */
}

.btn .ext {
    /* margin: 0.5rem 0.1rem 0.3rem; */
    /* color: rgba(29, 28, 28, 0.952);  */
    color: black;
    /* opacity: 0; */
    visibility: hidden;
    font-size: 11px;
    transition: all 0.1s;
    /* padding: 0.5rem 1rem 0.5rem; */
}

.btn:hover .ext {
    /* opacity: 1; */
    visibility: visible;
}

/* ------------------------------------------------about section--------------------------------------------------------------- */

.about {
    /* border: 2px solid rgb(253, 207, 207); */
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    /* background: rgba(128, 128, 128, 0.315); */
    overflow-x: hidden;
    outline: none;
    /*no horizontalbar comes while reload as animation is use inwhich transale isuse morethan screenwidth value*/
    /*no horizontalbar comes while reload as animation is use inwhich transale isuse morethan screenwidth value*/
}

.aboutc {
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 5px 0 #f4f4f4; */
}

.about .hed {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 1.9rem;
    text-transform: uppercase;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textc h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #4169E1;
    text-transform: uppercase;
}

.textc h1 {
    font-size: 2.2rem;
    text-transform: capitalize;
    text-align: center;
}

.textc p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #4169E1;
    text-transform: capitalize;
}

.textc {
    flex: 1 1 500px;
    text-align: center;
    padding: 1.3rem 0.5rem 0rem;
    letter-spacing: 0.250rem;
    /* border: 2px solid yellow; */
    margin: auto 0.1rem;
    transform: translatex(125%);
    /*-160% this can be (160% 0r150%) acc. but more value given then is will notapear go outsidescreen*/
    animation: frst 0.4s ease-in-out forwards;
}

@keyframes frst {
    100% {
        transform: translateX(0);
    }
}

.imga {
    flex: 1 1 400px;
    padding: 1rem 0.5rem;
    /* border: 2px solid blue; */
    /* text-align: center; */
    /* height: 300px; */
    /* background:linear-gradient(rgb(0,0,0,0.2), rgba(0, 85, 0, 0.055)); */
    transform: translateX(-125%);
    /*160% this can be (-160% 0r-150%) acc. but more value given then is will notapear go outsidescreen*/
    animation: frs 0.4s ease-in-out forwards;
}

@keyframes frs {
    100% {
        transform: translateX(0);
    }
}

.imga img {
    max-width: 85%;
    width: 100%;
    /* width:100%;/px & max width in px/% */
    /* max-height: 100%; */
    max-height: 270px;
    min-height: 180px;
    object-fit: cover;
    object-position: 50% 55%;
    display: block;
    text-align: center;
    margin: auto;
    filter: drop-shadow( 0px 0px 10px 0 #af1010);
    border-radius: 0.7rem;
}

.aboutc .textc h2::after {
    content: '';
    display: block;
    border-bottom: 3.8px solid #C850C0;
    margin: 0.18rem auto 2rem auto;
    /* min-width: 90px; */
    /* width: 25vw; */
    /* width:100px; */
    max-width: 150px;
    text-align: center;
    border-radius: 50%;
}

.btn123 {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    /* background-size: 100% auto; */
    /* color: white; */
    color: rgb(218, 17, 201);
    /* box-shadow: 0 0 10px 0 #eee; */
    border-radius: 20px;
    display: none;
    margin-top: 2.3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border: 1px solid;
    border-left-color: purple;
    border-top-color: red;
    border-right-color: #f11caa;
    border-bottom-color: rgb(241, 145, 161);
    /* border-color:  orangered; */
    /* background: rgba(29, 28, 28, 0.952); */
    position: relative;
}

.btn123:hover {
    outline: none;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: darkseagreen;
    border-color: darkseagreen;
    /* background-position: center center; */
    /* change the direction of the change here */
    /* color: rgb(45, 72, 194); */
    /* border: none; */
    /* background-clip: border-box; */
    /* margin: 0.4rem 0 0.5rem;
    padding: 0.7rem 2.5rem; */
    /* font-weight: 500;
    font-size: 1.4rem; */
}

.btn1234 {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    /* background-size: 100% auto; */
    /* color: white; */
    color: rgb(218, 17, 201);
    /* box-shadow: 0 0 10px 0 #eee; */
    border-radius: 20px;
    display: inline-block;
    margin-top: 2.3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border: 1px solid;
    border-left-color: purple;
    border-top-color: red;
    border-right-color: #f11caa;
    border-bottom-color: rgb(241, 145, 161);
    /* border-color:  orangered; */
    /* background: rgba(29, 28, 28, 0.952); */
    position: relative;
}

.btn1234:hover {
    outline: none;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: darkseagreen;
    border-color: darkseagreen;
    /* background-position: center center; */
    /* change the direction of the change here */
    /* color: rgb(45, 72, 194); */
    /* border: none; */
    /* background-clip: border-box; */
    /* margin: 0.4rem 0 0.5rem;
    padding: 0.7rem 2.5rem; */
    /* font-weight: 500;
    font-size: 1.4rem; */
}

/* ----------------------------------------------------vedio-------------------------------------------------------- */

.vd {
    padding-top: 7.2vh;
    /* padding-top: 0vh; */
    padding-bottom: 0.1rem;
    height: 87vh;
    /* background: #45454545; */
    /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% ); */
}

.vid {
    /* max-width: 1400px; */
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    position: relative;
    opacity: 1;
    /* display: block;
    text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    letter-spacing: 1px;
    outline: none;
}

.video {
    max-width: 1250px;
    height: 100%;
    width: 100%;
}

.video1 {
    display: none;
    max-width: 500px;
    height: 100%;
    width: 100%;
}

video {
    filter: opacity(0.5);
    width: 100%;
    height: 100%;
    outline: none;
    object-fit: cover;
    object-position: top bottom;
}

.video1 {
    filter: opacity(0.5);
    width: 100%;
    height: 100%;
    outline: none;
    object-fit: cover;
    object-position: top bottom;
}

.text {
    display: none;
    /* color: cornsilk;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    opacity: 1;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 400px;
    width:fit-content; */
    /* height: 100%; */
}

.text1 {
    color: cornsilk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    opacity: 1;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: fit-content;
    /* height: 100%; */
}

.txt {
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    margin: 0.2;
    font-size: 1.5rem;
    color: palevioletred;
    letter-spacing: 0.2rem;
    text-shadow: 0px 0px 2px palevioletred;
}

.txt1 {
    font-weight: 500;
    /* text-transform: uppercase; */
    text-align: center;
    margin: 0.2;
    font-size: 2rem;
    color: rgb(214, 214, 214);
    /* background: linear-gradient(to right,rgb(255, 153, 51),rgb(255, 255, 255),rgb(19, 136, 8)); */
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* text-shadow: 0px 0px 2px gray; */
    /* transform: translateX(-200%); */
    /* animation: wel 0.4s ease-in-out forwards; */
}

/* @keyframes wel {
    100% {
        transform: translateX(0);
    }
    
} */

.txt1::first-letter {
    font-size: 2.6rem;
    font-weight: 500;
}

.p1 {
    margin-top: 1.8rem;
    max-width: 7rem;
    margin-bottom: 1rem;
    max-height: 7.5rem;
    border-radius: 50%;
    /* transform: translateX(-200%); */
    border: 3px solid;
    outline: none;
    border-color: teal;
    animation: we 6s linear infinite;
}

@keyframes we {
    30% {
        border-color: aquamarine;
        box-shadow: 0 0 10px 0 aquamarin;
    }
    60% {
        border-color: teal;
        box-shadow: 0 0 13px 0 teal;
    }
    100% {
        border-color: rgba(16, 66, 157);
        box-shadow: 0 0 10px 0 rgba(16, 66, 157);
    }
}

/* .txt.ic,.ic{
   background: linear-gradient(to right, rgb(255, 153, 51),rgb(255, 255, 255),rgb(19, 136, 8));
} */

/* - ---------------------------------------button------------------------------------------------ */

.btn12 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1rem; */
    margin: 1.2rem 0rem 0.3rem;
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    /* background-size: 100% auto; */
    /* color: white; */
    /* color: rgb(218, 17, 201); */
    color: white;
    /* box-shadow: 0 0 10px 0 #eee; */
    border-radius: 20px;
    /* display: inline-block; */
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 0 8px 0 #eee;
    font-weight: 500;
    outline: none;
    border: 1px solid;
    border-left-color: purple;
    border-top-color: red;
    border-right-color: #f11caa;
    border-bottom-color: rgb(241, 145, 161);
    /* border-color:  orangered; */
    /* background: rgba(29, 28, 28, 0.952); */
    position: relative;
}

.btn12:hover {
    outline: none;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: skyblue;
    border-color: skyblue;
    /* background-position: center center; */
    /* change the direction of the change here */
    /* color: rgb(45, 72, 194); */
    /* border: none; */
    /* background-clip: border-box; */
    /* margin: 0.4rem 0 0.5rem;
    padding: 0.7rem 2.5rem; */
    /* font-weight: 500;
    font-size: 1.4rem; */
}

/* .btn1 {background-image: linear-gradient(to right, #F0C27B 0%, #4B1248  51%, #F0C27B  100%)} */

.btn1 {
    margin: 1.2rem 0rem 0.3rem;
    padding: 0.5rem 0.7rem 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    /* background-size: 200% auto; */
    /* color: blueviolet; */
    color: white;
    box-shadow: 0 0 8px #eee;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid;
    outline: none;
    border-left-color: purple;
    border-top-color: red;
    border-right-color: rgb(241, 145, 161);
    border-bottom-color: #f11caa;
}

.btn1:hover {
    outline: none;
    border: 1px solid transparent;
    background-position: right center;
    /* change the direction of the change here */
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to right, #F0C27B 0%, #4B1248 51%, #F0C27B 100%)
}

.btn1 .ext1 {
    /* margin: 0.5rem 0.1rem 0.3rem; */
    /* color: rgba(29, 28, 28, 0.952);  */
    color: black;
    /* opacity: 0; */
    visibility: hidden;
    font-size: 0px;
    transition: all 0.1s;
    /* padding: 0.5rem 1rem 0.5rem; */
}

.btn1:hover .ext1 {
    /* opacity: 1; */
    visibility: visible;
    font-size: 11px;
}

.btn12 .ext1, .btn123 .ext1, .btn1234 .ext1 {
    /* margin: 0.5rem 0.1rem 0.3rem; */
    /* color: rgba(29, 28, 28, 0.952);  */
    color: black;
    /* opacity: 0; */
    visibility: hidden;
    font-size: 14px;
    transition: all 0.1s;
    /* padding: 0.5rem 1rem 0.5rem; */
    margin-left: 0.3rem;
}

.btn12:hover .ext1, .btn123:hover .ext1, .btn1234:hover .ext1 {
    visibility: visible;
    font-size: 14px;
    margin-left: 0.3rem;
}

/* -----------------------------------------------------------eduction section ---------------------------------------------------- */

.edu {
    /* border:2px solid indigo; */
    padding: 3.4rem 0 0rem;
    /* background: rgba(0, 0, 0, 0.116); */
    /* background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    outline: none;
    margin-top: 3rem;
}

.hed1 {
    text-align: center;
    margin: 0.4rem 0 1.2rem 0;
    text-transform: uppercase;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.9rem;
}

.hed1::after {
    content: '';
    display: block;
    border-bottom: 3.8px solid #50c8c2;
    margin: 0.18rem auto 2.5rem auto;
    /* min-width: 90px; */
    /* width: 25vw; */
    /* width:100px; */
    max-width: 130px;
    text-align: center;
    border-radius: 400px;
}

/* .educ1 {
    border: 2px solid red;
} */

.cen {
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    outline: none;
}

/* .educ2 {
    border: 2px solid green;
}

.educ3 {
    border: 2px solid orange;
} */

.educ {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: none;
    /* border: 2px solid gray; */
}

.educc {
    flex: 1 1 350px;
    margin-bottom: 2rem;
    width: 400px;
    outline: none;
    /* border: 2px solid purple; */
}

.educi {
    /* border: 1px dotted black; */
    position: relative;
    margin: 0 1rem;
    overflow-x: auto;
    max-width: 100%;
    /*height: 300px; */
    z-index: 1;
    outline: none;
}

.educ img {
    /* background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1)),url(""); */
    max-height: 250px;
    width: 100%;
    /* height: 100%; */
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center top;
    outline: none;
    /* filter: saturate(50%); */
    filter: opacity(0.7);
}
.eductp i{
     box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.301);
     text-shadow: 0 0 5px rgba(128, 128, 128, 0.637);
}

.educt {
    position: absolute;
    top: 20%;
    /*if want from bottom to up then top vale more*/
    left: 50%;
    /* border: 1px solid pink; */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    z-index: 3;
    outline: none;
    transition: all 0.3s ease-in-out;
    /* width: 100%; */
}

.eductp {
    position: absolute;
    top: 50%;
    /*if want from bottom to up then top vale more*/
    left: 50%;
    /* border: 1px solid pink; */
    transform: translate(-50%, -50%);
    text-align: center;
    /* color:rgb(0, 255, 200); */
    color:#aefd6c;
    opacity: 1;
    box-shadow: 4px 4px 10px 0 white;
    margin: auto;
    background:rgba(0, 0, 0, 0.226);
    /* background: linear-gradient(rgba(5, 187, 157, 0.767),rgba(9, 235, 235, 0.616)); */
    z-index: 4;
    outline: none;
    transition: all 0.3s ease-in-out;
    /* width: 100%; */
}

.edup {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(255, 0, 0, 0.726);
    margin-bottom: 0.5rem;
}

.educt h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: purple;
}
 .eductp h1 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: purple;
}

.educt p {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
}
.eductp p {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: black;
}

.educi::after {
    content: '';
    outline: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    /* alternative like if some heading writeen above educi and shodow apers of overlay effect
    width/hieht can be acc.50%/60% and top/bottom/left/right(0) can be set acc. then (no need transform in this or in hover)and in hover change these acc.  */
    opacity: 0;
    z-index: 1;
    background: linear-gradient(rgba(175, 221, 7, 0.8), rgba(67, 218, 8, 0.89));
    /* transform:scaleX/Y(0/1/2);can be used and overflow in .educ must done acc.  */
    /* transform:translateY(-30%);*/
    /*from top to bottom if want bottom to top use scaleY(0)*/
    /* transform-origin: 100% 100%;          /* when ever use scaleX/Yuse this and if want window like then don't use it*/
    transition: all 0.4s ease-in-out;
}

.educi:hover::after {
    /* transform:scaleX/Y(1/2);can be used but in this 0 value cannot be used on hover */
    opacity: 1;
    /* transform: translateY(0)*/
    /*from top to bottom if want bottom to top use scaleY(1)*/
    height: 100%;
    /* alernative if want  */
    width: 100%;
    outline: none;
}

.educi:hover .educt {
    opacity: 1;
    outline: none;
    top: 50%;
    /*if want from bottom to up then top vale less*/
}

.educi:hover .eductp {
    opacity: 0;
    outline: none;
}

/* --------------------------------------------------------------review section----------------------------------------------------- */

.ex {
    /* border: 2px solid green; */
    /* background: rgba(243, 243, 243); */
    padding: 2.5rem 1.3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: none;
    margin-top: 1rem;
}

.skh {
    text-align: center;
    margin: 0.4rem 0 1.2rem 0;
    text-transform: uppercase;
    /* background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.9rem;
}

.skh::after {
    content: '';
    display: block;
    border-bottom: 3.8px solid #1077bb;
    margin: 0.18rem auto 2.5rem auto;
    /* min-width: 90px; */
    /* width: 25vw; */
    /* width:100px; */
    max-width: 130px;
    text-align: center;
    border-radius: 400px;
}

.exc {
    /* border: 2px solid rgb(13, 0, 128); */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 0.7rem;
}

.cl {
    color: yellow;
    /* background: white; */
}

.exca {
    /* border: 2px solid rgb(35, 41, 35); */
    text-align: center;
    max-width: 340px;
    padding: 1rem;
    margin: 0.7rem;
    outline: none;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    box-shadow: 0 3px 15px 0 rgba(173, 166, 166, 0.37);
    /* transform: translateX(-60%); */
    /* animation:excs 2s ease-in-out forwards; */
    /* flex-basis: 400px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 1rem;  */
}

/* @keyframes excs {
    100%{
        transform: translateX(0);
    }
    
} */

.exca:hover {
    /* transform: scale(1.1,1.1); */
    box-shadow: none;
}

.exca i {
    margin-top: 1rem;
}

.exca img {
    display: block;
    height: 80px;
    width: 90px;
    border-radius: 50%;
    margin: auto;
    outline: none;
}

.hara {
    text-transform: uppercase;
    color: white;
}

.para {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #555;
    /* color: white; */
    margin-bottom: 3rem;
}

.para1 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* .imge {
    margin: auto;
} */

/* -------------------------------------------------connect------------------------------------------------------------- */

.ply {
    /* border:2px solid indigo; */
    /* padding: 3rem 3rem 1rem 3rem; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* flex-wrap: wrap;
    flex: 1 1 20%; */
}
.ply1,.ply2,.ply3{
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* text-align: center; */
    /* border: 1px solid yellow; */

}
.ply .non{
    margin: 0.8rem 0.5rem;

}
.ply p{
    font-size: 1.7rem;
    color:gray;
    letter-spacing: 0.1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    text-transform: capitalize;
}
.ply .non1 {
    display: none;
    
}
.ply a {
    text-decoration: none;
}
.ply a:hover {
    text-decoration: none;
}



.cont {
    /* border: 2px solid red; */
    padding: 2.6rem 0 0rem;
    margin-top: 3rem;
    background: rgba(0, 0, 0, 0.651);
}

.con a {
    text-decoration: none;
    color: white;
}

.contc {
    /* border:2px solid indigo; */
    padding: 3rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 20%;
}

.con {
    color: #444;
    padding: 0.3rem;
}

/* .clr{
    color: white;
} */

.con2 a:hover {
    text-decoration: none;
    color: #fa5788;
}

.con1 a:hover {
    text-decoration: none;
    /* color: rgb(12, 223, 12); */
    color: rgb(214, 12, 73); 
}

.con3 a:hover {
    text-decoration: none;
    color: #ff0000;
}

.con4 a:hover {
    text-decoration: none;
    color: rgb(6, 175, 253);
}

.con5 a:hover {
    text-decoration: none;
    color: rgb(12, 33, 223);
}

.con1:hover.con1 a {
    color: rgb(214, 12, 73); 
}

.con2:hover.con2 a {
    color: #fa5788;
}

.con3:hover.con3 a {
    color: #ff0000;
}

.con4:hover.con4 a {
    color: rgb(6, 175, 253);
}

.con5:hover.con5 a {
    color: rgb(12, 33, 223);
}

.con1:hover {
    /* color: rgb(12, 223, 12); */
    color: rgb(214, 12, 73); 
    box-shadow: 0 5px 8px 0 #16A085;
    /* background: grey; */
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    

}

.con2:hover {
    color: #fa5788;
    box-shadow: 0 5px 10px 0 #f14cc0;
    /* background: rgb(184, 111, 17); */
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    /* border-radius: 30px; */
}

.con3:hover {
    color: #ff0000;
    box-shadow: 0 3px 10px 0 rgba(130, 5, 255, 1);
    /* background: turquoise; */
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

    /* background: grey; */
    /* background-image: linear-gradient( 76.9deg,  rgba(255,90,90,1) 27.2%, rgba(130,5,255,1) 79.9% ); */
}

.con4:hover {
    color: rgb(6, 175, 253);
    box-shadow: 0 5px 10px 0 rgb(6, 175, 253);
    /* background: grey; */
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.con5:hover {
    color: rgb(12, 33, 223);
    box-shadow: 0 5px 10px 0 rgb(12, 33, 223);
    /* background: grey; */
    background-color: #0094e9c2;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.cont1 {
    display: none;
}

.ri {
    /* margin-bottom: 0.2rem; */
    padding-bottom: 0.1rem;
    font-size: 10px;
}
.ri a{
    
    color: black;
    text-decoration: none;
}
.ri a:hover{
    color: black;
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 1280px) {
    .educc {
        flex: 1 1 300px;
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
    }
    .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi {
        text-align: center;
        max-width: 350px;
        margin-left: auto;
    }
}

@media only screen and (max-width: 930px) {
 .btn123,.btn1234{
    margin-bottom: 1.1rem;
 }
}
@media only screen and (max-width: 1024px) {
    .educc {
        flex: 1 1 350px;
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
    }
    .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi {
        text-align: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

.contc {
    /* border:2px solid indigo; */
    padding: 2rem 3rem 1.8rem 3rem;
}
/* @media only screen and (max-width: 930px){
    .btn123,.btn1234{
        margin-bottom: 1rem; impott
    }
} */

@media only screen and (max-width: 950px) and (min-width: 769px) {
    .exca {
        min-width: 239px;
        max-width: 200px;
    }
}

/* @media only screen and (max-width: 651px) { */

/* .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi{
        text-align: center;
    max-width: 350px;
     margin: auto;
    } */

/* .educc{ */

/* text-align: center;
    margin-bottom: 2rem; */

/* flex: 1 1 150px; */

/* border: 2px solid purple; */

/* } */

/* } */

@media only screen and (max-width: 768px) {
    .ord {
        display: none;
    }
    .lg {
        display: none;
    }
    .text1 {
        display: none;
    }
    .inv {
        display: none;
    }
    .text {
        /* display: none; */
        color: cornsilk;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        width: fit-content;
    }
    .video1 {
        display: none;
    }
    .btn123 {
        display: inline-block;
    }
    .btn1234 {
        display: none;
    }
    /* .educc{
        flex: 1 1 300px;
        margin-bottom: 2rem;
        border: 2px solid purple;
    } */
    .educc {
        flex: 1 1 370px;
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
    }
    .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi {
        text-align: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .educt {
        width: 70%;
    }
    .exc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exca {
        margin-bottom: 0.5rem;
        background: rgba(0, 0, 0, 0.829);
        color: #f4f4f4;
        outline: none;
    }
    .exca .para {
        color: #fff;
    }
    .cl {
        color: gold;
    }
    .ply p{
        font-size: 1.4rem;
        color:gray;
        letter-spacing: 0.1rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        text-transform: capitalize;
    }
    .ply .non {
        margin: 0.6rem 0.4rem;
    
    }
}

@media only screen and (max-width: 602px) {

.ply {
    /* border:2px solid indigo; */
    /* padding: 3rem 3rem 1rem 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3.4rem;
    /* flex-wrap: wrap;
    flex: 1 1 20%; */
}
.ply1,.ply2,.ply3{
    display: inline-block;
   margin-bottom: 0.23rem;
    /* justify-content: space-around; */
    /* align-content: center; */
    /* text-align: center; */

}
.skh{
    margin: 1rem 0 1.2rem 0;
}
.non{
    display: none;
}
.ply .non1{
    display:inline-block;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.ply {
    margin: auto;

}
.ply p{
    display: inline-block;
    text-transform: capitalize;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.pir h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.pir p{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.pir1 h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.pir1 p{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
}


@media only screen and (max-width: 500px) {
    .video {
        display: none;
    }
    .video1 {
        display: block;
    }
    .con i {
        font-size: 34px;
    }
    .navbar {
        background-image: radial-gradient( circle 976px at 51.2% 51%, rgba(11, 26, 103, 0.719) 0%, rgba(16, 65, 157, 0.685) 0%, rgba(11, 26, 103, 0.76) 17.3%, rgba(11, 26, 103, 0.767) 58.8%, rgba(11, 26, 103, 0.651) 71.4%, rgba(16, 66, 157, 1) 100.2%, rgba(187, 187, 187, 0.685) 100.2%);
    }
    .ply {
        /* border:2px solid indigo; */
        /* padding: 3rem 3rem 1rem 3rem; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 3.4rem;
        /* flex-wrap: wrap;
        flex: 1 1 20%; */
    }
    .ply1,.ply2,.ply3{
        display: inline-block;
       margin-bottom: 0.23rem;
        /* justify-content: space-around; */
        /* align-content: center; */
        /* text-align: center; */
    
    }
    .skh{
        margin: 1rem 0 1.2rem 0;
    }
    .non{
        display: none;
    }
   .ply .non1{
        display:inline-block;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .ply {
        margin: auto;
    
    }
    .ply p{
        display: inline-block;
        text-transform: capitalize;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
}

@media only screen and (max-width: 400px) {
    .educc {
        /* flex: 1 1 370px; */
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
    }
    .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi {
        text-align: center;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .educt {
        width: 65%;
        height: auto;
    }
    .box2 {
        width: 100%;
        margin: auto;
    }
    .exca {
        text-align: center;
        max-width: 380px;
        padding: 1rem;
        margin: 0.7rem 0.1rem;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.829);
        color: #f4f4f4;
    }
    .exca .para {
        color: #fff;
    }
    .con i {
        font-size: 28px;
    }
    .contc {
        /* border:2px solid indigo; */
        padding: 2rem 3rem 1.5rem 3rem;
    }

}

@media only screen and (max-width: 320px) {
    .educc {
        /* flex: 1 1 370px; */
        margin-bottom: 2rem;
        /* border: 2px solid purple; */
    }
    .educ {
        text-align: center;
        flex-wrap: wrap;
    }
    .educi {
        min-height: 218px;
        text-align: center;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .educ img {
        min-height: 218px;
        width: 100%;
        /* height: 100%; */
        display: block;
        margin: auto;
        object-fit: cover;
        object-position: center;
    }
    .educt {
        width: 80%;
        height: 80%;
        text-align: center;
        /* margin: auto; */
    }
    .con i {
        font-size: 25px;
    }
    /* .exca{
            max-width:100% ;
        } */
        /* .pir{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        } */
        .pir h1,
        .pir1 h1{
            font-size: 2.1rem;
        }
        .pir p,
        .pir1 p{
            font-size: 1.4rem;
        }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-height: 470px) and (min-height: 364px){
    .vd { 
        height: 90vh;
    } 
    /*   */
    /* .navc {
        height: 17vh;
    } */
    .menu li{
        font-size:1.3rem;
        padding-bottom:0px;
    }
    .btn{
        font-size:1rem;
        padding-bottom:2px;
        padding-right:0px;
    }
    .btn .ext{
        font-size:9px;   
    }
    
 } 

 @media only screen and (max-height: 600px) { 
    .sec {
        height: 82vh;
    } 
     .navc {
        height: 8vh;
    }
    .vd {
        padding-top: 8.1vh;
    }
} 

@media only screen and (max-height: 364px) {
    .vd {
        height: 93vh;
        padding-top: 14.1vh;
    }
    .navc {
        height: 14vh;
    }
    /* .pirvacy{
        padding-top: 18vh;
    } */
    .pir{
        margin-top: 3rem;
    }
    .text,.text1{
        margin-top: 2rem;
    }
}

@media only screen and (max-height: 270px) {
    .vd {
        height: 102vh;
        padding-top: 16.1vh;
    }
    .navc {
        height: 16vh;
    } 

 }  
 /* @media only screen and (min-height: 1080px) { 
     .vd {
        height: 101vh;
    } 
     .navc {
        height: 5.8vh;
    }
}  */



/* ----------------------------------------privacy------------------------------------------------------------------ */
.pirvacy{
    padding-top: 12vh;
    padding-bottom: 0rem;
     padding-left: 0rem;
     padding-right: 0rem;
}
.pir{
    background: rgba(150, 150, 150, 0.281);
    color:rgba(0, 0, 0, 0.486);
    display:block;
    overflow-x: hidden;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.pir1{
    background: rgba(150, 150, 150, 0.281);
    color:rgba(0, 0, 0, 0.486);
    display:block;
    overflow-x: hidden;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.pir h1{
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.pir p{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    /* text-align-last:center ; */
    /* text-align: justify; */
    /* text-align-last: center; */
    word-break: break-all;

}
.pirvacy1{
    padding: 2rem 0 0;
}
.pir1 h1{
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.pir1 p{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    /* text-align-last:center ; */
    /* text-align: justify; */
    /* text-align-last: center; */
    word-break: break-all;
}
.fixed{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    z-index: -1;
    background: gray;
}
.fixed a{
    color: black;
    text-decoration: none;
}
.fixed a:hover{
    color: black;
    text-decoration: none;
}
.fixed a i{
    margin-top:0.4rem;

}
